
/* Page styles */
.body {
    display: flex;
    background-color: antiquewhite; 
    font-family: 'Work Sans', sans-serif;
    }
    
.cruiseContainer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    max-width: 1500px;
    /* width:900px; */
    padding: 1em;
    margin: auto; 
}    

div.title-image img{
    width: 400px;    
}

div.slide img {
   margin: 0 auto;
   max-height: 450px
}

/* Img Code below may not need to be necessary */
img {
    max-height: auto;
    max-width: 800px;
}

/* Main Page Navigation*/

/* Using nav tag for Main Page Navigation   */

.navmenu     {
    /* text-align: center;  */
    /* max-width: 880px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    
    /* max-width does work for width of navigation  */
    max-width: 832px; 
    text-align: center;
    /* display: inline-block; */
    font-family: sans-serif;
    padding-top: 35px;
    padding-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: darkblue;
    border-radius: 6px;
}

.navmenu  >  .home  {
    /* max-width: 300px; */
    max-height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
    text-decoration: none;
    color: chocolate;
    background-color: azure;    
}

.navmenu  >  .home:hover  {
    color: cadetblue;
    background-color: aliceblue;
}    

.navmenu   >  .evo1  {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
    text-decoration: none;
    color: brown;
    background-color: beige;  
}

.navmenu   >  .evo1:hover  { 
    color: yellow;
    background-color: coral;
}

.navmenu  >  .evo2  {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    background-color: cornsilk;
}

.navmenu  >  .evo2:hover  {
    color: teal;
    background-color: wheat;
}

.navmenu   >  .cruises   {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
    text-decoration: none;
    color: crimson;
    background-color: bisque;
}

.navmenu   >  .cruises:hover  {
    color: ghostwhite;
    background-color: gold;
}

/* End of Using nav tag for Main Page Navigation   */

/* Ships List on Cruise lines Page */

.shipsList > .ship {
    position: relative;
    max-width: 325px;
}

.shipsList > .ship > img {
    width: 150px;
    height: 120px;
    position: absolute;
    top: -50px;
    right: 0;
    display: none;
    z-index: 2;
}

.shipsList { 
    text-decoration: none;
    color: burlywood;
    font-size: 20px;
}

.shipsList:hover > .ship > span {
    color: blue;
}

.shipsList:hover > .ship > img {
    display: block;
}

/* Cruise Button CSS on Cruise Lines Page */
.cruiseButton   {
    width: 160px;
    height: 50px;
    border: 1px solid burlywood;
    border-radius: 20px;
    color: chocolate;
    background-color: blanchedalmond;
    font-size: 15px;
    text-align: center;
    margin: 0   80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Page Main Headings */
div.header h1 {
    text-align: center;
    color:blue
}

/* Reviews Page CSS */

h1.cruiseLine  {
    text-align: center;
    color: blue
}

h2.ship {
    color: darkcyan 
}

div.ShipDetails {
    float: right;
    /* align-content: left; 
    justify-content: left */
    position: relative
}

div.ShipDetails h4  {
    color: black
}

div.ShipDetails p   {
    color: slategrey
}

div.ShipTerms   {
    float: right;
    text-align: left
}

div.ShipTermsIntro  {
    float: right
}

/* css for Evolution of Ships */

/* .header  {
    text-align: centre;
} */

.evoContainer   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    max-width: 1500px;
    padding: 1em;
    margin: auto; 
}  

.evoShips   {
    width: 400px;
    height: 340px;
    background-color: blanchedalmond;
    /* Experiment to try border */
    border: 1px solid burlywood;
    border-radius: 20px;
    margin: 0   30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.evoShips   img {
    width: 300px;
    height: 200px;
    /* text-align: center; */
}

.evoShips   h3 {
   text-align: center; 
}