
/* Page styles */
.body {
    background-color: antiquewhite; 
    font-family: 'Work Sans', sans-serif;
    }
    

div.title-image img{
    width: 400px;    
}
 

div.slide img {
   margin: 0 auto;
   max-height: 450px
}

/* Img Code below may not need to be necessary */
img {
    max-height: auto;
    max-width: 800px;
}

/* I think this code is for animation */
.background-appear {
    opacity: 0.01;
    position: fixed;
    transform: translate(100%);
}
    
.background-appear.background-appear-active {
    position: fixed;
    opacity: 1;
    transition: position 3s ease-in;
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
}

/* Page Navigation Menu */

/* div.navmenu h2 { */
div.navmenu li   {    
    display: inline-block;
    text-align: center;
    /* text-decoration: none;
    color: blue; */
    background-color: azure;
    padding: 0.35%;
    font-size: 1.5em
}

/* h2.top-links    {
    display: inline-block;
    text-align: center
} */

/* Ships List on Cruise lines Page */
.shipList:link   {
    color: burlywood;
    text-decoration: none;
    font-size: 1.15em
}

.shipList:active    {
    color: cornflowerblue
}

.shipList:hover {
    color: brown
 
}

.shiplist:visited   {
    color: cadetblue
}

/* Page Main Headings */
div.header h1 {
    text-align: center;
    color:blue
}

/* Reviews Page CSS */

h1.cruises  {
    text-align: center;
    color: blue
}

h2.ship {
    color: darkcyan;   
}

div.ShipDetails {
    float: right;
    /* align-content: left */
    /* justify-content: left */
    position: relative
}

div.ShipDetails h4  {
    color: black

}

div.ShipDetails p   {
    color: slategrey;
    
}

p.ShipTerms {
    text-align: right;
}

.button {
    background: gold;
    border-radius: 8px;
    color: beige
}

/* ul.list {
    list-style: none;
} This is not working */

/* css for Evolution of Ships */

/* .header  {
    text-align: centre;
} */

.evoships   {
    width: 95%;
    margin: auto;
    padding: 10px;
    display: flex;
}

div.left  img {
    float:  left;
    flex:   100%;
    max-height: 5000px
}

/* trying to adjust image size, so they are even and image is on left and paragraphs on right*/

.left img   {
    max-width: 100%;
    max-height: auto;
    flex: 50%;
}

.right p  {
    margin-left: 2%;
    flex:   100%;
    float: right;
    max-width: 100%;
    max-height: auto;
     
}