
/* Page styles */
.body {
    background-color: antiquewhite; 
    font-family: 'Work Sans', sans-serif;
    }
    

div.title-image img{
    width: 400px;    
}
    
.slide img {
   margin: 0 auto;
}

img {
    max-height: auto;
    max-width: 800px;
}

.background-appear {
    opacity: 0.01;
    position: fixed;
    transform: translate(100%);
}
    
.background-appear.background-appear-active {
    position: fixed;
    opacity: 1;
    transition: position 3s ease-in;
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
}

/* Page Navigation Menu */
div.navmenu h1 {
    display: inline-block;
    text-align: center;
    
    padding: 0.35%;
    text-decoration: none;
    /* font-size: 1.13em; */
}

/* Ships List on Cruise lines Page */
.shipList li {
    color: blue;
    text-decoration: none !important
}

/* Page Main Headings */
div.header h1 {
    text-align: center;
    color:blue
}

/* Reviews Page CSS */

h1.cruises  {
    text-align: center;
    color: blue
}

div.ShipDetails {
    float: right;
    align-content: left
}

div.ShipDetails h4  {
    color: brown

}

.button {
    background: gold;
    border-radius: 8px;
    color: beige
}

/* ul.list {
    list-style: none;
} This is not working */

/* css for Evolution of Ships */

/* .header  {
    text-align: centre;
} */

.evoships   {
    width: 95%;
    margin: auto;
    padding: 10px;
    display: flex;
}

.left   {
    float:  left;
    flex:   100%;
}

/* trying to adjust image size, so they are even and image is on left and paragraphs on right*/

.left img   {
    max-width: 100%;
    max-height: auto;
    flex: 50%;
}

.right p  {
    margin-left: 2%;
    flex:   100%;
    float: right;
    max-width: 100%;
    max-height: auto;
     
}