.reviewContainer{
  background: BlanchedAlmond;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 1%;
  width: 100%;
  max-width: 1350px;
  padding: 1em;
  margin: 15px auto 0;
  border: 2px solid burlywood;
  border-radius: 20px;
}
 
.cruiseShip {
  grid-column: 1 / span 2;
  background: lightblue;
  padding: 1em;
  border: 2px solid lightseagreen;
  border-radius: 25px;
}

.cruiseShip h2{
  width: 100%;
  font-size: 30px;
}

.cruiseShip .wrapper{
  background-color: red;
  /* display: flex;
  justify-content: center; */ 
  width: 100%; 
}

.cruiseShip img{
  width: 100%; 
  height: auto;
  border: 2px solid lightseagreen;
  border-radius: 25px;
}

.shipDetails {
  background: lightgoldenrodyellow; 
  padding: 1em;
  border: 2px solid gold;
  border-radius: 25px;
}

.shipDetails li{
  list-style: none;
  font-weight: 600;
}

.review{
  background-color: lightgreen;
  border: black 2px solid;
  border-radius: 15px;
}

.review h3{
  background-color: aqua;
  width: 100%;
}

.review .wrapper{
  display: inline-flex;
  align-items: center;
  width: 100%;
}


.review button{
  background-color: red;
  width: 20%;
  height: 100%;
}

/* CSS for bookiing info and Ship Terms Intro with Link */
.Booking    {
  background: orange;
  border-radius: 6px;
  border-width: 2px;
  border-color: firebrick;
  padding: 0.4em;
}

.Booking    >   .bookLink   {

  font-size: 1em;
  text-decoration: none;
}

.cruiseLine {
  text-align: center;
  color: blue;
}

.ShipTerms   {
  float: right;
  text-align: left
}

.ShipTermsIntro  {
  background: fuchsia;
  float: right;
  border: solid;
  border-width: 2px;
  border-color: peru;
  border-radius: 10px;
  padding: 1em;
}
